<div class="backdrop" (click)="onClose()" *ngIf="show"></div>
<div class="alert-box" *ngIf="show">
    <div *ngIf="!error">
        <p><span class="name">FOS ID:</span> {{aircraft?.fos_id}}</p>
        <p><span class="name">Registration:</span> {{aircraft?.registration}}</p>
        <p><span class="name">Fleet Type:</span> {{aircraft?.fleet_type}}</p>
    </div>
    <div *ngIf="error" class="error">
        <p><span class="name">Error Name:</span> {{error.name}}</p>
        <p><span class="name">Error Status:</span> {{error.status}}</p>
        <p><span class="name">Error Text:</span> {{error.statusText}}</p>
    </div>
    <div class="alert-box-actions">
        <button class="btn" [ngClass]="error ? 'btn-danger' : 'btn-primary'" (click)="onClose()">Close</button>
    </div>
</div>
