<div class="backdrop" (click)="onClose()" *ngIf="show"></div>
<div class="alert-box" *ngIf="show">
    <div *ngIf="!error">
        <p>FOS ID: {{aircraft?.fos_id}}</p>
        <p>Registration: {{aircraft?.registration}}</p>
        <p>Fleet Type: {{aircraft?.fleet_type}}</p>
    </div>
    <div *ngIf="error && error.length !== 0" class="error">
        <p>Error Name: {{error.name}}</p>
        <p>Error Status: {{error.status}}</p>
        <p>Error Text: {{error.statusText}}</p>
    </div>
    <div class="alert-box-actions">
        <button class="btn" [ngClass]="error ? 'btn-danger' : 'btn-primary'" (click)="onClose()">Close</button>
    </div>
</div>
